button:focus, input:focus {
  outline-width: 0;
}

.ancient-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 700px;
}

.ancient-wrapper table.ancestor-list {
  border: 2px solid lightgrey;
  border-radius: 4px;
  width: 100%;
}

.ancient-wrapper table.ancestor-list thead {
  background-color: lightcyan;
  color: darkcyan;
}

.ancient-wrapper table.ancestor-list tr {
  line-height: 25px;
}

.ancient-wrapper table.ancestor-list tr .time {
  text-align: center;
}

.ancient-wrapper .search-box {
  align-self: flex-end;
  height: 30px;
}

.ancient-wrapper .search-box input {
  line-height: 18px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  padding: 2px 4px;
}

.ancient-wrapper .search-box button {
  height: 24px;
  border: 0px;
  border-radius: 2px;
}
.ancient-wrapper .search-box button:hover {
  background: lightgrey;
}
.ancient-wrapper .search-box button:active {
  background: darkgrey;
}

.ancient-wrapper #show-error {
  color: blue;
  cursor: pointer;
  line-height: 35px;
  justify-content: ;
  text-decoration: none;
}

.ancient-wrapper #show-error:visited {
  color: blue;
}

.ancient-wrapper #error-msg {
  color: red;
}
